{% extends 'base.html.twig' %}

{% block body %}
    <h2>About-Us</h2>
    <p>Lorem ipsum dolor sit amet. Qui dolorum totam qui sequi eaque est mollitia veniam et delectus maxime quo enim
        unde. Et voluptatem voluptates ut amet animi cum sint doloribus sit quas vero et amet eaque et quam voluptate
        aut odit excepturi. Eum laudantium fuga et magnam velit ut dicta sunt et modi excepturi? In facilis placeat ex
        culpa error vel earum alias.

        Ut totam doloribus quo repellendus totam qui nihil vitae qui iusto soluta 33 ipsam sequi sit repellendus
        deserunt. Sed error explicabo qui corrupti placeat aut fuga vitae eum nulla doloremque.

        Aut harum sunt qui ducimus natus nam tenetur harum cum fugit minus. Vel deserunt necessitatibus quo animi
        necessitatibus aut dolores nemo non nobis beatae. Et dolores voluptatum ut rerum magni qui error magni aut
        dolores beatae ut recusandae porro non porro dolor et libero ipsam.</p>

{% endblock %}

{% block title %}
    {{ parent() }} | About Us
{% endblock %}

