<header>
    <h1>
        <a href="{{ path('main_home') }}">
            <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List | Home">Bucket-list
        </a>
    </h1>
    {% include 'bodyStructure/menu/nav.html.twig' %}
</header>