{% extends 'base.html.twig' %}

{% block body %}
    <h2>WishList</h2>
{% for wish in wishes %}
    <article>
{#        redirection vers la page detail#}
        <a href="{{  path('wish_show', {'id' : wish.id}) }}">
    <p>{{ wish.title }}</p>
        </a>
    </article>
    {% endfor %}

{% endblock %}

{% block title %}
    {{ parent() }} | List
{% endblock %}

