<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_aboutus') }}">About-Us</a></li>
        <li><a href="{{ path('wish_list') }}">WishList</a></li>
        <li><a href="{{ path('wish_add') }}">Add Wish</a></li>
    </ul>
</nav>